
@{
    ViewBag.Title = "FQR_4_1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Bootstrap Admin Template</title>
</head>
<body>

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Napływ ścieków surowych FQR_4_1 <br />
                            <small>Wprowadź okres za który chcesz otrzymać dane</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="FQR_4_1_searchDay"><b>Raport dobowy</b></a>
                            </li>
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="FQR_4_1_searchHour">Raport godzinowy</a>
                            </li>
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="FQR_4_1_saveSearchDay">Raport dobowy zapis</a>
                            </li>
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="FQR_4_1_saveSearchHour">Raport godzinowy zapis </a>
                            </li>

                        </ol>
                        <div style="clear:both;"></div>
                        <div class="former">
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <form action="/FQR_4_1/FQR_4_1_resultDay" method="post">
                                    <label for="albumTitle">Data rozpoczęcia</label>
                                    <input class="form-control" type="text" name="from" autocomplete="off" id="from" />
                                    <label for="TimeStart">Czas rozpoczęcia</label>
                                    <input class="form-control" type="text" name="timeStart" autocomplete="off" id="timeStart" /> <br />
                                    <label for="artistName">Data zakończenia</label>
                                    <input class="form-control" type="text" name="to" autocomplete="off" id="to" />
                                    <label for="TimeEnd">Czas zakończenia</label>
                                    <input class="form-control" type="text" name="timeEnd" autocomplete="off" id="timeEnd" /> <br />
                                    <input type="submit" class="btn btn-default" value="Wyślij" />
                                </form>

                            </div>
                            <div class="col-lg-6">
                                <h3>Przykład: Celem jest uzyskanie wartośći za dzień 2018.05.19</h3>
                                <h4>
                                    Data rozpoczęcia:2018-05-19   <br>
                                    Czas rozpoczęcia:00:00:00     <br>
                                    Data zakończenia:2018-05-19   <br>
                                    Czas zakończenia:23:59:59
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
</body>
</html>
