<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/styles/style.css" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="~/styles/jquery.timepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/jquery.timepicker.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.timepicker.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="~/scripts/timer.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
     
    
</head>
<body onload="odliczanie();">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Raport", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Program do raportowania Elektrimont Sp z o.o. <i class="icon-mail-alt"></i> MJaskiewicz@elektrimont.pl</p>
        </footer>
    </div>

   
</body>
</html>