@using System.IO;
@using System;
@{
    ViewBag.Title = "FIQRC_07_206";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Bootstrap Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div>
        <big>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Znalezione rekordy</h2>
                    <div class="table-responsive">

                        @{

                            StringWriter sw = new StringWriter();
                            sw.WriteLine("\"Data\",\"Wartosc\",\"Jednostka\"");




                            while (ViewBag.reader.Read())
                            {

                                DateTime Data = @ViewBag.reader.GetDateTime(1);
                                DateTime parsedData = Data.AddHours(-1).AddMinutes(-15);
                                DateTime firstParse = parsedData.AddHours(+1);
                                String secondParse = parsedData.ToString("yyyy-MM-dd HH:mm:ss");
                                String thirdParse = firstParse.ToString("HH:mm:ss");
                                String all = secondParse + "-" + thirdParse;
                                String m3 = "m3";

                                string Wartosc = @ViewBag.reader.GetString(0);

                                float parsedWartosc = float.Parse(Wartosc);

                                sw.WriteLine(string.Format("\"{0}\",\"{1}\",\"{2}\"", all, parsedWartosc, m3));


                            }



                            Response.ClearContent();
                            Response.AddHeader("content-disposition", "attachment;filename=FIQR_07_206_Raport_Godzinowy.csv");
                            Response.ContentType = "text/csv";

                            Response.Write(sw.ToString());
                            Response.End();


                        }



                        <a href="/FIQRC_07_206/FIQRC_07_206_searchHour"><button class="btn btn-default">Wróć</button></a>
                    </div>
                </div>
            </div>
        </big>
    </div>
</body>
</html>


